/* https://github.com/DanielRBowen/VuePdfJs */

.pdf-viewer header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
    position: relative;
    z-index: 99;
  }
.pdf-viewer .header-item {
    margin: 0 2.5em;
  }
  
  .pdf-viewer .pdf-viewer__document,
  .pdf-viewer .pdf-viewer__preview {
    top: 70px;
  }
  
  .pdf-viewer__preview {
    display: block;
    width: 15%;
    right: 85%;
  }
  
  .pdf-viewer__document {
    top: 70px;
    width: 100%;
    left: 0;
  }
  
  .pdf-viewer__document.preview-enabled {
    width: 85%;
    left: 15%;
  }
  
  @media print {
    .pdf-viewer header {
      display: none;
    }
  }

  .pdf-zoom a {
    float: left;
    cursor: pointer;
    display: block;
    border: 1px #333 solid;
    background: white;
    color: #333;
    font-weight: bold;
    line-height: 1.5em;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
  }

  .pdf-paginator {
    color: white;
    font-weight: bold;
  }
  .pdf-paginator input {
    width: 2em;
    padding: 0.3em;
  }


  .pdf-preview {
    position: absolute;
    overflow: auto;
    z-index: 1;
    padding: 2em 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .pdf-viewer .scrolling-page {
    margin-bottom: 1em;
  }
  
  @media print {
    .pdf-preview {
      display: none;
    }
  }



  .pdf-thumbnail {
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .pdf-viewer img,
  .pdf-viewer .placeholder {
    border: 7px solid transparent;
    border-radius: 5px;
    width: 65%;
  }
  
  .pdf-thumbnail.focused img {
    border-color: rgba(68, 204, 139, 0.65);
  }
  
  .pdf-viewer .placeholder {
    background: white;
    background-clip: content-box;
    position: relative;
  }
  
  .pdf-viewer .placeholder:before {
    content: '';
    display: block;
    padding-top: 75%;
  }
  
  .pdf-viewer .placeholder .content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .pdf-viewer .page-number {
    color: white;
    font-weight: bold;
  }


  .pdf-viewer .pdf-page {
    display: block;
    margin: 0 auto;
  }

  .pdf-viewer .pdf-document {
    position: absolute;
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #525f69;
  }
  
  .pdf-viewer .scrolling-page {
    margin-bottom: 1em;
  }
  
  @media print {
    .pdf-viewer .pdf-document {
      position: static;
    }
  }

  .pdf-overlay {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  .pdf-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
